.header {
  height: 100vh;
  margin: 0 auto;
  background: url('/ERAYA_Web_Page.png') no-repeat center center;
  background-size: cover;     /* image crop hogi but full area cover karegi */
  background-position: center; /* hamesha center me align hogi */
  background-color: #000;      /* agar crop ke baad chhota gap bache toh black fill */
  position: relative;
}
