/* .hairheader {
    height: 70vh;
    margin: 30px auto;
    background: url('/hairbanner.png') no-repeat;
    background-size: contain;
    position: relative;
} */


.hairheader {
    height: 70vh;
    margin: 30px auto;
    background: url('/hairbanner.png') no-repeat;
    background-size: contain;   /* Image crop hogi aur poore area ko cover karegi */
    position: relative;     
} 

